* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
atom-workspace {
  background-color: @base-background-color;
}
.settings-view {
  .config-menu {
    position: relative;
    margin-left: 40px;
    min-width: 168px;
    max-width: 240px;
    background: none;
    border: 0;
    padding: 0;
    .nav > li {
      border-radius: 8px;
      &:hover {
        .icon {
          color: fade(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4))), (100 * (alpha(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)))) + 0.04)));
          &::before {
            color: fade(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4))), (100 * (alpha(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)))) + 0.04)));
          }
        }
        background-color: fade(rgba(255,255,255,0), (100 * (alpha(rgba(255,255,255,0)) + 0.04)));
      }
      &.active {
        &, &:hover {
          .icon {
            color: rgba(255,255,255,0.6);
            &::before {
              color: rgba(255,255,255,0.6);
            }
          }
          background: fade(rgba(255,255,255,0), (100 * (alpha(rgba(255,255,255,0)) + 0.08)));
        }
      }
      .icon {
        padding: 0;
        font-size: 13px;
        margin-left: 20px;
        line-height: 52px;
        background: none !important;
        color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)));
        &::before {
          color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)));
        }
        &::before {
          font-size: 18px;
          width: 18px;
          height: 18px;
          line-height: 18px;
          top: 0;
          margin-right: 7px;
          vertical-align: middle;
        }
      }
    }
    .button-area {
      margin: 0;
      .btn {
        white-space: initial;
        text-align: left;
        padding: 0;
        margin-left: 20px;
        line-height: 52px;
        background: none;
        &:hover {
          color: fade(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4))), (100 * (alpha(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)))) + 0.04)));
          &::before {
            color: fade(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4))), (100 * (alpha(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)))) + 0.04)));
          }
        }
        color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)));
        &::before {
          color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)));
        }
        &::before {
          font-size: 18px;
          width: 18px;
          height: 18px;
          line-height: 18px;
          top: 0;
          margin-right: 7px;
          vertical-align: middle;
        }
      }
    }
  }
}
.settings-view {
  .panels-item > .section:first-child {
    margin-top: 0;
  }
  .sub-section {
    margin-top: 60px;
  }
  .section {
    padding: 0 !important;
    margin: 48px;
    .section-container {
      max-width: 600px;
    }
    section-heading, .sub-section-heading {
      margin-bottom: 18px;
    }
    .section-body {
      margin-top: 36px;
    }
  }
}
.settings-view {
  .panels {
    .section {
      &, &.settings-panel {
        border: 0 !important;
      }
    }
  }
  .section {
    .icon {
      &.section-heading, &.sub-section-heading {
        color: rgba(255,255,255,0.6);
        &::before {
          color: fadeout(rgba(255,255,255,0.6), 10%);
        }
        font-size: 28px;
        font-weight: 300 !important;
        line-height: 42px;
        &::before {
          font-size: 42px;
          width: 42px;
          height: 42px;
          line-height: 42px;
          top: 0;
          margin-right: 17px;
          vertical-align: bottom;
        }
        .badge {
          margin-left: 10px;
          font-size: 15px;
          color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
          background: rgba(255,255,255,0.05);
        }
      }
    }
  }
}
.settings-view {
  .control-group {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
    .checkbox {
      margin: 0;
      .setting-description {
        margin: 5px 0;
      }
    }
  }
  .setting-title {
    color: rgba(255,255,255,0.6);
    font-size: 13px;
  }
  .setting-description {
    color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 4px;
  }
}
.settings-view {
  .package-container {
    border-radius: 40px;
    overflow: hidden;
    :last-child .package-card {
      margin: 0 !important;
    }
  }
  .package-card {
    border: 0;
    border-radius: 0;
    padding: 19px;
    background: rgba(255,255,255,0.05);
    margin-bottom: 3px;
    &:hover {
      background: fade(rgba(255,255,255,0.05), (100 * (alpha(rgba(255,255,255,0.05)) + 0.04)));
    }
    &.disabled {
      background: fade(rgba(255,255,255,0.05), (100 * (alpha(rgba(255,255,255,0.05)) * 0.5)));
    }
    .package-description {
      display: block;
      margin: 12px 0;
    }
    .meta-controls {
      margin: 0;
    }
    .card-name {
      margin-bottom: 12px;
      font-size: 13px;
    }
    .package-name {
      color: rgba(255,255,255,0.6);
    }
    .package-version {
      margin-left: 12px;
      color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)));
    }
    .meta-user {
      display: none;
    }
    .status-indicator {
      display: none;
    }
    .package-description {
      color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
      font-size: 12px;
    }
    .stats {
      .value {
        color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)));
        font-size: 12px;
      }
    }
    .stats {
      .icon {
        &::before {
          font-size: 13px;
          width: 13px;
          height: 13px;
          line-height: 13px;
          top: 0;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
    .btn-toolbar {
      .icon {
        font-size: 13px;
        color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
        &::before {
          color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
          margin-right: 7px;
        }
        &:hover {
          color: rgba(255,255,255,0.6);
        }
        &.install-button {
          color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) + 0.08)));
          text-shadow: none;
          background-color: @accent-bg-layer-color;
          &:hover {
            color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) + 0.08)));
          }
          &:active {
            background: darken(@accent-bg-layer-color, 4%);
            box-shadow: none;
          }
          &.selected {
            background: saturate(darken(@accent-bg-layer-color, 12%), 20%);
          }
          &.selected:focus, &.selected:hover {
            background: lighten(saturate(darken(@accent-bg-layer-color, 12%), 20%), 2%);
          }
          &:focus {
            outline: none;
            border-color: @accent-color;
            box-shadow: 0 0 0 1px @accent-color;
          }
          color: contrast(@accent-bg-layer-color, rgba(255,255,255,1), rgba(0,0,0,1), 15%);
          &:hover, &:focus {
            color: contrast(@accent-bg-layer-color, rgba(255,255,255,1), rgba(0,0,0,1), 15%);
          }
          &:focus {
            border-color: transparent;
            background-clip: padding-box;
          }
          &.icon:before {
            color: contrast(@accent-bg-layer-color, rgba(255,255,255,1), rgba(0,0,0,1), 15%);
          }
        }
      }
    }
  }
  .package-detail {
    .section {
      margin-top: 0;
    }
    .package-container {
      margin-bottom: 20px;
      .package-card:hover {
        background: rgba(255,255,255,0.05);
      }
    }
    .breadcrumb {
      padding: 0;
      margin-left: 48px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
  .meta {
    .btn-toolbar {
      .btn-group {
        .btn.enablement {
          border-radius: 0 1em 1em 0;
        }
        [style="display: none;"] + .btn.enablement {
          border-radius: 1em;
        }
      }
    }
  }
}
.settings-view {
  [id="editor-settings-note"], [id="core-settings-note"], .native-key-bindings:not(.table) {
    color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
    &::before, .icon::before {
      display: none;
    }
  }
}
.settings-view {
  .native-key-bindings.table.text {
    table, th, td, tr {
      border: none;
      &:first-child {
        border-radius: 20px 0 0 20px;
      }
      &:last-child {
        border-radius: 0 20px 20px 0;
      }
    }
    tr:nth-child(even) {
      background-color: fade(rgba(255,255,255,0.05), (100 * (alpha(rgba(255,255,255,0.05)) * 0.5)));
    }
  }
}
.settings-view {
  .themes-panel {
    .themes-picker {
      margin-top: 36px;
      .control-group {
        line-height: 100%;
        margin: 1.5px !important;
        .setting-description {
          display: none;
        }
        .controls {
          .control-label {
            display: inline-block;
            float: left;
            width: 150px;
            .text {
              font-weight: normal;
              margin: 0;
              margin-top: 10px;
            }
          }
        }
        .controls {
          .select-container {
            :first-child {
              border-radius: 0;
            }
            :last-child {
              background: rgba(255,255,255,0.05);
              border-radius: 0;
              margin-left: 0;
            }
          }
        }
        &:first-child {
          .controls {
            .select-container {
              :first-child {
                border-top-left-radius: 12px;
              }
              :last-child {
                border-top-right-radius: 12px;
              }
            }
          }
        }
        &:last-child {
          .controls {
            .select-container {
              :first-child {
                border-bottom-left-radius: 12px;
              }
              :last-child {
                border-bottom-right-radius: 12px;
              }
            }
          }
        }
      }
    }
  }
}
.settings-view {
  .updates-btn-group {
    .btn {
      font-size: 14px;
      border-radius: 0;
    }
    & :first-child {
      margin: 0;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
    }
    & :last-child {
      margin-left: 1px;
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
    }
    & [style="display: none;"] + .btn {
      border-radius: 1em;
    }
  }
}
.settings-view {
  .link, .link:hover {
    color: @accent-color-subtle;
  }
}
atom-text-editor[mini] {
  overflow: auto;
  font-size: 12px;
  line-height: 24px;
  max-height: 120px;
  padding-left: 10px;
  border-radius: 100px;
  color: rgba(255,255,255,0.6);
  background-color: rgba(255,255,255,0.05);
  .placeholder-text {
    color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.4)));
  }
}
.form-control {
  option {
    background-color: rgb(((alpha(rgba(255,255,255,0.05)) * red(rgba(255,255,255,0.05))) + red(@base-background-color)), ((alpha(rgba(255,255,255,0.05)) * green(rgba(255,255,255,0.05))) + green(@base-background-color)), ((alpha(rgba(255,255,255,0.05)) * blue(rgba(255,255,255,0.05))) + blue(@base-background-color))) !important;
  }
  border: 0;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 20px;
  &, &:active, &:hover {
    background: rgba(255,255,255,0.05) !important;
  }
}
.settings-view {
  .alert {
    padding: 1em 1em 1em 1em;
    border-radius: 1em;
    background: rgba(255,255,255,0.05);
    &, &::before {
      color: rgba(255,255,255,0.6);
    }
    .native-key-bindings {
      color: rgba(255,255,255,0.6);
    }
    .error-link {
      color: rgba(255,255,255,0.6);
    }
    .padded {
      margin: 0 -2em -2em -2em;
    }
    .error-details {
      border-radius: 0;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
    }
  }
}
.settings-view {
  .checkbox {
    padding-left: 45px;
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .input-checkbox {
      -webkit-appearance: none;
      display: inline-block;
      font-size: inherit;
      margin: 0 0 0 -45px;
      width: 34px;
      height: 16px;
      cursor: pointer;
      border-radius: 8px;
      background-color: rgba(255,255,255,0.05);
      transition: background-color(0.2s, cubic-bezier(0.5, 0.15, 0.2, 1));
      &:before {
        content: "";
        box-sizing: border-box;
        display: inline-block;
        left: 4px;
        top: 4px;
        margin: 0;
        width: 8px;
        height: 8px;
        border-radius: inherit;
        background-clip: content-box;
        background-color: rgba(255,255,255,0.14);
        transition: transform(0.2s, cubic-bezier(0.5, 0.15, 0.2, 1));
      }
      &:active, &:checked {
        background-color: rgba(255,255,255,0.05);
      }
      &:checked:before {
        transform: translateX(18px);
      }
      &:before {
        opacity: 1;
        transform: none;
      }
      &:after {
        content: none;
      }
    }
  }
}
.settings-view {
  .slider {
    margin-top: 10px;
    margin-bottom: 10px;
    .label {
      color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5))) !important;
    }
    .input-range {
      z-index: 0;
      margin: 0;
      position: relative;
      -webkit-appearance: none;
      background: transparent;
      display: inline-block;
      height: 16px;
      border-radius: 8px;
      overflow: hidden;
      &, &:focus {
        &::-webkit-slider-thumb {
          height: 16px;
          width: 0;
          border-radius: 0;
          cursor: pointer;
          box-shadow: -400px 0 0 400px rgba(255,255,255,0.05);
        }
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 16px;
        cursor: pointer;
        background: rgba(255,255,255,0.05);
        border-radius: 8px;
      }
    }
  }
}
.tab-bar {
  .tab.active {
    color: rgba(255,255,255,0.6);
    transition: color 0.3s;
    .icon::before {
      opacity: alpha(rgba(255,255,255,0.6));
      transition: opacity 0.3s;
    }
  }
}
.tab-bar {
  position: relative;
  height: 48px;
  background: none;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  &:empty {
    display: none;
  }
  .tab, .tab.active {
    padding-right: 0;
    .title {
      padding: 0;
    }
  }
}
.tab-bar {
  .tab {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    height: inherit;
    font-size: inherit;
    line-height: 36px;
    background-color: none;
    color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
    transition: color 0.3s;
    .icon::before {
      position: inherit;
      opacity: alpha(fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5))));
      transition: opacity 0.3s;
    }
    .title {
      margin: 0 10px;
    }
    .title {
      font-size: 13px;
      &::before {
        margin-right: 4px;
        width: 13px;
        height: 13px;
        font-size: 13px;
        line-height: 13px;
      }
    }
  }
}
.tab-bar {
  .tab {
    .close-icon {
      top: 9px;
      left: 6px;
      line-height: 18px;
      font-size: 12px;
      z-index: 2;
      width: 18px;
      height: 18px;
      border-radius: 10px;
      background-color: inherit;
      overflow: hidden;
      transform: scale(0);
      color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) * 0.5)));
      transition-duration: 0.1s;
      background: @base-background-color;
      &::before {
        color: fade(@accent-color, 70);
      }
      &:hover::before {
        color: @accent-color;
      }
      &::before {
        z-index: 1;
        position: absolute;
        font-size: 12px;
        width: inherit;
        height: inherit;
        line-height: inherit;
        text-align: center;
        pointer-events: none;
      }
    }
    &:hover .close-icon {
      transform: scale(1);
      transition-duration: 0.1s;
    }
  }
}
.tab-bar {
  .tab.modified {
    &:hover .close-icon {
      color: @accent-color;
    }
    &:not(:hover) .close-icon {
      top: 9px;
      left: 6px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      color: @accent-color-wide;
      border: none;
      transform: scale(1);
      &::before {
        content: "\f052";
        display: inline-block;
      }
    }
  }
}
.tab-bar {
  .tab::before {
    display: none;
    content: "";
    position: absolute;
    z-index: 2;
    margin-right: 50px;
    width: 100%;
    height: 3px;
    background: fade(fade(@accent-color, 40), (100 * (alpha(fade(@accent-color, 40)) * 0.5)));
  }
  .tab.active:before {
    background: fade(@accent-color, 40);
  }
  .tab:not(:last-child)::before {
    width: (100% - 2px);
  }
}
atom-panel {
  position: relative;
  &.top {
    border-bottom: 4px solid rgba(0,0,0,1);
  }
  &.top {
    border-bottom: 4px solid rgba(0,0,0,1);
  }
  &.left {
    border-right: 4px solid rgba(0,0,0,1);
  }
  &.right {
    border-left: 4px solid rgba(0,0,0,1);
  }
  &.bottom {
    border-top: 4px solid rgba(0,0,0,1);
  }
  &.footer:last-child {
    border-bottom: none;
  }
  &.tool-panel:empty {
    border: none;
  }
}
atom-pane-container {
  atom-pane {
    border-right: 4px solid rgba(0,0,0,1);
    border-bottom: 4px solid rgba(0,0,0,1);
    position: relative;
    .item-views {
      overflow: hidden;
    }
  }
}
atom-workspace {
  & .panes {
    & {
      border-right: 0;
      & > .pane {
        border-right: 0;
      }
    }
    & >  .horizontal > :last-child {
      & {
        border-right: 0;
        & > .pane {
          border-right: 0;
        }
      }
      & >  .horizontal > :last-child {
        & {
          border-right: 0;
          & > .pane {
            border-right: 0;
          }
        }
        & >  .horizontal > :last-child {
          & {
            border-right: 0;
            & > .pane {
              border-right: 0;
            }
          }
          & >  .horizontal > :last-child {
            & {
              border-right: 0;
              & > .pane {
                border-right: 0;
              }
            }
            & >  .horizontal > :last-child {
              & {
                border-right: 0;
                & > .pane {
                  border-right: 0;
                }
              }
              & >  .horizontal > :last-child {
                & {
                  border-right: 0;
                  & > .pane {
                    border-right: 0;
                  }
                }
                & >  .horizontal > :last-child {
                  & {
                    border-right: 0;
                    & > .pane {
                      border-right: 0;
                    }
                  }
                  & >  .horizontal > :last-child {
                    & {
                      border-right: 0;
                      & > .pane {
                        border-right: 0;
                      }
                    }
                    & >  .horizontal > :last-child {
                      & {
                        border-right: 0;
                        & > .pane {
                          border-right: 0;
                        }
                      }
                      & >  .horizontal > :last-child {
                        & {
                          border-right: 0;
                          & > .pane {
                            border-right: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    & {
      border-bottom: 0;
      & > .pane {
        border-bottom: 0;
      }
    }
    & >  .vertical > :last-child {
      & {
        border-bottom: 0;
        & > .pane {
          border-bottom: 0;
        }
      }
      & >  .vertical > :last-child {
        & {
          border-bottom: 0;
          & > .pane {
            border-bottom: 0;
          }
        }
        & >  .vertical > :last-child {
          & {
            border-bottom: 0;
            & > .pane {
              border-bottom: 0;
            }
          }
          & >  .vertical > :last-child {
            & {
              border-bottom: 0;
              & > .pane {
                border-bottom: 0;
              }
            }
            & >  .vertical > :last-child {
              & {
                border-bottom: 0;
                & > .pane {
                  border-bottom: 0;
                }
              }
              & >  .vertical > :last-child {
                & {
                  border-bottom: 0;
                  & > .pane {
                    border-bottom: 0;
                  }
                }
                & >  .vertical > :last-child {
                  & {
                    border-bottom: 0;
                    & > .pane {
                      border-bottom: 0;
                    }
                  }
                  & >  .vertical > :last-child {
                    & {
                      border-bottom: 0;
                      & > .pane {
                        border-bottom: 0;
                      }
                    }
                    & >  .vertical > :last-child {
                      & {
                        border-bottom: 0;
                        & > .pane {
                          border-bottom: 0;
                        }
                      }
                      & >  .vertical > :last-child {
                        & {
                          border-bottom: 0;
                          & > .pane {
                            border-bottom: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    & > .vertical {
      & {
        border-right: 0;
        & > .pane {
          border-right: 0;
        }
      }
      & >  .horizontal > :last-child {
        & {
          border-right: 0;
          & > .pane {
            border-right: 0;
          }
        }
        & >  .horizontal > :last-child {
          & {
            border-right: 0;
            & > .pane {
              border-right: 0;
            }
          }
          & >  .horizontal > :last-child {
            & {
              border-right: 0;
              & > .pane {
                border-right: 0;
              }
            }
            & >  .horizontal > :last-child {
              & {
                border-right: 0;
                & > .pane {
                  border-right: 0;
                }
              }
              & >  .horizontal > :last-child {
                & {
                  border-right: 0;
                  & > .pane {
                    border-right: 0;
                  }
                }
                & >  .horizontal > :last-child {
                  & {
                    border-right: 0;
                    & > .pane {
                      border-right: 0;
                    }
                  }
                  & >  .horizontal > :last-child {
                    & {
                      border-right: 0;
                      & > .pane {
                        border-right: 0;
                      }
                    }
                    & >  .horizontal > :last-child {
                      & {
                        border-right: 0;
                        & > .pane {
                          border-right: 0;
                        }
                      }
                      & >  .horizontal > :last-child {
                        & {
                          border-right: 0;
                          & > .pane {
                            border-right: 0;
                          }
                        }
                        & >  .horizontal > :last-child {
                          & {
                            border-right: 0;
                            & > .pane {
                              border-right: 0;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    & > .horizontal {
      & {
        border-bottom: 0;
        & > .pane {
          border-bottom: 0;
        }
      }
      & >  .vertical > :last-child {
        & {
          border-bottom: 0;
          & > .pane {
            border-bottom: 0;
          }
        }
        & >  .vertical > :last-child {
          & {
            border-bottom: 0;
            & > .pane {
              border-bottom: 0;
            }
          }
          & >  .vertical > :last-child {
            & {
              border-bottom: 0;
              & > .pane {
                border-bottom: 0;
              }
            }
            & >  .vertical > :last-child {
              & {
                border-bottom: 0;
                & > .pane {
                  border-bottom: 0;
                }
              }
              & >  .vertical > :last-child {
                & {
                  border-bottom: 0;
                  & > .pane {
                    border-bottom: 0;
                  }
                }
                & >  .vertical > :last-child {
                  & {
                    border-bottom: 0;
                    & > .pane {
                      border-bottom: 0;
                    }
                  }
                  & >  .vertical > :last-child {
                    & {
                      border-bottom: 0;
                      & > .pane {
                        border-bottom: 0;
                      }
                    }
                    & >  .vertical > :last-child {
                      & {
                        border-bottom: 0;
                        & > .pane {
                          border-bottom: 0;
                        }
                      }
                      & >  .vertical > :last-child {
                        & {
                          border-bottom: 0;
                          & > .pane {
                            border-bottom: 0;
                          }
                        }
                        & >  .vertical > :last-child {
                          & {
                            border-bottom: 0;
                            & > .pane {
                              border-bottom: 0;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.pane.active {
  z-index: 10;
  box-shadow: -4px -1px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), -4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
  .inset-panel {
    z-index: 100;
    background: @base-background-color;
    box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
  }
  .item-views {
    box-shadow: -4px 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), 4px 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
  }
}
atom-workspace {
  & .panes {
    & > .vertical {
      & {
        &.pane.active, & > .pane.active {
          .inset-panel {
            box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
          }
        }
      }
      & >  .horizontal > :last-child {
        & {
          &.pane.active, & > .pane.active {
            .inset-panel {
              box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
            }
          }
        }
        & >  .horizontal > :last-child {
          & {
            &.pane.active, & > .pane.active {
              .inset-panel {
                box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
              }
            }
          }
          & >  .horizontal > :last-child {
            & {
              &.pane.active, & > .pane.active {
                .inset-panel {
                  box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                }
              }
            }
            & >  .horizontal > :last-child {
              & {
                &.pane.active, & > .pane.active {
                  .inset-panel {
                    box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                  }
                }
              }
              & >  .horizontal > :last-child {
                & {
                  &.pane.active, & > .pane.active {
                    .inset-panel {
                      box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                    }
                  }
                }
                & >  .horizontal > :last-child {
                  & {
                    &.pane.active, & > .pane.active {
                      .inset-panel {
                        box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                      }
                    }
                  }
                  & >  .horizontal > :last-child {
                    & {
                      &.pane.active, & > .pane.active {
                        .inset-panel {
                          box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                        }
                      }
                    }
                    & >  .horizontal > :last-child {
                      & {
                        &.pane.active, & > .pane.active {
                          .inset-panel {
                            box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                          }
                        }
                      }
                      & >  .horizontal > :last-child {
                        & {
                          &.pane.active, & > .pane.active {
                            .inset-panel {
                              box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                            }
                          }
                        }
                        & >  .horizontal > :last-child {
                          & {
                            &.pane.active, & > .pane.active {
                              .inset-panel {
                                box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    & > .horizontal {
      & {
        &.pane.active, & > .pane.active {
          .inset-panel {
            box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
          }
        }
      }
      & >  .vertical > :first-child {
        & {
          &.pane.active, & > .pane.active {
            .inset-panel {
              box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
            }
          }
        }
        & >  .vertical > :first-child {
          & {
            &.pane.active, & > .pane.active {
              .inset-panel {
                box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
              }
            }
          }
          & >  .vertical > :first-child {
            & {
              &.pane.active, & > .pane.active {
                .inset-panel {
                  box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                }
              }
            }
            & >  .vertical > :first-child {
              & {
                &.pane.active, & > .pane.active {
                  .inset-panel {
                    box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                  }
                }
              }
              & >  .vertical > :first-child {
                & {
                  &.pane.active, & > .pane.active {
                    .inset-panel {
                      box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                    }
                  }
                }
                & >  .vertical > :first-child {
                  & {
                    &.pane.active, & > .pane.active {
                      .inset-panel {
                        box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                      }
                    }
                  }
                  & >  .vertical > :first-child {
                    & {
                      &.pane.active, & > .pane.active {
                        .inset-panel {
                          box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                        }
                      }
                    }
                    & >  .vertical > :first-child {
                      & {
                        &.pane.active, & > .pane.active {
                          .inset-panel {
                            box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                          }
                        }
                      }
                      & >  .vertical > :first-child {
                        & {
                          &.pane.active, & > .pane.active {
                            .inset-panel {
                              box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                            }
                          }
                        }
                        & >  .vertical > :first-child {
                          & {
                            &.pane.active, & > .pane.active {
                              .inset-panel {
                                box-shadow: 4px -4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50), inset 0 4px 0 0 mix(@accent-color, rgba(0,0,0,1), 50);
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
atom-workspace > .horizontal > .vertical {
  .pane {
    opacity: 0.8;
    transition: opacity 0.5s;
  }
  .pane.active {
    opacity: 1;
    transition: opacity 0.5s;
  }
}
atom-text-editor .gutter .line-number {
  opacity: 1;
  color: fade(rgba(255,255,255,0.6), 20);
  margin-left: 10px;
  transition: color 0.3s;
  &.cursor-line {
    color: fade(rgba(255,255,255,0.6), 50);
    transition: color 0.3s;
  }
  &.git-line-added {
    transition: color 0.3s;
    border-left: 2px solid transparent;
    color: fade(#b5bd68, 50);
    &.cursor-line {
      transition: color 0.3s;
      color: fade(#b5bd68, 80);
    }
  }
  &.git-line-modified {
    transition: color 0.3s;
    border-left: 2px solid transparent;
    color: fade(#de935f, 50);
    &.cursor-line {
      transition: color 0.3s;
      color: fade(#de935f, 80);
    }
  }
  &.git-line-removed:before {
    position: absolute;
    left: -5px;
    bottom: -6px;
    height: 0;
    width: 0;
    content: " ";
    border: solid transparent;
    border-left-color: rgba(255,51,51,0.5);
    border-width: 6px;
    margin-top: -6px;
    pointer-events: none;
  }
}
atom-text-editor atom-text-editor-minimap {
  opacity: 0.5;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }
  .minimap-visible-area {
    box-shadow: 0 0 0 10000px fade(@base-background-color, 75);
    &::after {
      background-color: transparent;
    }
  }
  .minimap-controls {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
:hover {
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 8px solid transparent;
    background-color: rgba(255,255,255,0.05);
    background-clip: content-box;
  }
}
&::-webkit-scrollbar-track {
  background: transparent;
}
&::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 8px solid transparent;
  background-color: transparent;
  background-clip: content-box;
}
&::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  border: 8px solid transparent;
  background: fade(rgba(255,255,255,0.05), (100 * (alpha(rgba(255,255,255,0.05)) + 0.08)));
  background-clip: content-box;
}
.vertical-scrollbar, .horizontal-scrollbar {
  background-color: rgba(255,255,255,0);
  transition: background-color 0.5s;
  -webkit-background-clip: text;
  &:hover {
    background-color: fade(rgba(255,255,255,0.05), (100 * (alpha(rgba(255,255,255,0.05)) + 0.08)));
    transition: background-color 0.5s;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 8px solid transparent;
    background-color: inherit;
    background-clip: content-box;
  }
}
atom-notification {
  &.error, &.fatal {
    &::before {
      width: 40px;
      border-radius: 15px 0 0 15px;
    }
    .btn.close-all {
      border: 0;
      color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) + 0.08)));
      background-color: fade(rgba(255,255,255,0.05), (100 * (alpha(rgba(255,255,255,0.05)) + 0.08)));
    }
    .close.icon {
      color: rgba(255,255,255,1);
    }
    .content {
      padding: 10px;
      border-radius: 0 15px 15px 0;
      color: fade(rgba(255,255,255,0.6), (100 * (alpha(rgba(255,255,255,0.6)) + 0.08)));
      background-color: #d13b2e;
      .message {
        padding: 0;
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 800;
      }
      .detail {
        padding: 0;
        border: 0;
        margin: 0;
        font-size: 12px;
        background-color: transparent;
        color: rgba(255,255,255,0.6);
        .stack-toggle {
          color: rgba(255,255,255,0.6);
          .icon::before {
            font-size: 12px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}